.item{
    /* border: 2px solid red; */
    padding: 1rem;
    list-style: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     border-radius: 6px;
     background-color: #c2e7f0;
     display: flex;
     align-items: center;
     justify-content: space-between;

}
.item figure{
    /* border: 1px solid black; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 2px;

}

.item figure{
    width: 70%;
}
.item blockquote{
    font-size: 1.5rem;
  color: #212929;
}

.item figcaption {
    font-style: italic;
    color: #566d6d;
  }
